@import '../../../assets/scss/variables.scss';

.navbar {
  box-shadow: 0 0 5px rgb(0 0 0 / 60%);

  &.bg-dark {
    background-color: $bg-color !important;
  }

  .navbar-toggler {
    border-color: transparent;
  }

  .navbar-brand {
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    color: $light-color;
  }

  .btn-sign {
    color: $green-color;
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 1rem;
    font-size: 1.1rem;
  }

  .input-search {
    width: 9rem;
    height: 2rem;
  }
}
