<nav class="navbar navbar-dark bg-dark align-items-stretch">
  <div class="d-flex justify-content-start">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">torre<span class="text-green">.co</span></a>
  </div>
  <div class="d-flex justify-content-end align-items-center">
    <form [formGroup]="searchForm" *ngIf="isSearchActive" (ngSubmit)="onSubmitSearch()" class="d-flex align-items-center">
      <input class="form-control input-search" type="text" formControlName="username" placeholder="Username" aria-label="Search">
      <button type="submit" class="btn btn-link btn-icon"><span class="material-icons">search</span></button>
    </form>
    <button type="button" class="btn btn-link btn-icon" *ngIf="!isSearchActive" (click)="isSearchActive=true"><span class="material-icons">search</span></button>
    <button type="button" class="btn btn-link btn-sign" *ngIf="!isSearchActive">Sign in</button>
  </div>
</nav>
