<app-nav-bar></app-nav-bar>

<div class="container d-flex justify-content-center py-5">
  <app-loading *ngIf="isLoadingEnable"></app-loading>
  <div *ngIf="!isLoadingEnable">
    <div *ngIf="errorMessage">{{errorMessage}}</div>
    <div *ngIf="!errorMessage" class="d-flex flex-column">
      <div class="primary-profile text-center">
        <div class="profile-photo">
          <div class="bg-cover"></div>
          <img *ngIf="profile?.person?.pictureThumbnail" class="img" [src]="profile?.person?.pictureThumbnail" alc="profile-photo">
          <div *ngIf="!profile?.person?.pictureThumbnail" class="img"></div>
        </div>

        <h2 class="mt-4">{{profile?.person?.name}} <span *ngIf="profile?.person?.verified"
            class="material-icons align-middle">verified</span></h2>
        <h6 class="">{{profile?.person?.professionalHeadline}}</h6>
      </div>

      <div class="d-flex flex-column mt-5">
        <h4 class="my-2">Skills and interests:</h4>
        <app-skill-container (skillDetail)="getSkillDetail($event)" [skills]="skills['master']" title="Master / Influencer" icon="directions_bike"></app-skill-container>
        <app-skill-container (skillDetail)="getSkillDetail($event)" [skills]="skills['expert']" title="Expert" icon="skateboarding"></app-skill-container>
        <app-skill-container (skillDetail)="getSkillDetail($event)" [skills]="skills['proficient']" title="Proficient" icon="directions_run"></app-skill-container>
        <app-skill-container (skillDetail)="getSkillDetail($event)" [skills]="skills['novice']" title="Novice" icon="directions_walk"></app-skill-container>
        <app-skill-container (skillDetail)="getSkillDetail($event)" [skills]="skills['no-experience-interested']" title="No experience, but with interest" icon="emoji_people"></app-skill-container>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" [ngClass]="isModalEnable ? 'show d-block' : 'd-none'" tabindex="-1" role="dialog" (aria-labelledby)="modalData.title"
  aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-md-down" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-start">
        <button type="button" class="btn btn-link btn-icon" (click)="isModalEnable=false"><span class="material-icons">close</span></button>
        <h5 class="modal-title">{{modalData.title}}</h5>
      </div>
      <div class="modal-body d-flex flex-column">
        <h6>Other people with this skill:</h6>
        <div *ngFor="let people of relatedPeople" class="primary-profile text-center d-flex justify-content-start align-items-center card-related-people" [routerLink]="['/profile', people?.username]">
          <div class="profile-photo sm m-2">
            <div class="bg-cover"></div>
            <img *ngIf="people?.picture" class="img" [src]="people?.picture" alc="profile-photo">
            <div *ngIf="!people?.picture" class="img"></div>
          </div>
          <div class="d-flex flex-column text-start">
            <h6 class="mt-4 text-green">{{people?.name}} <span *ngIf="people?.verified"
                class="material-icons align-middle">verified</span></h6>
            <p class="text-muted"><small>{{people?.professionalHeadline}}</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
