<div *ngIf="skills.length > 0" class="my-3">
  <h5 class="text-muted my-2"><span class="material-icons align-middle pr-3">{{icon}}</span> {{title}}</h5>
  <div class="my-2">
    <span *ngFor="let skill of skills" class="badge badge-primary" (click)="onClickSkill(skill)">{{skill}}</span>
  </div>
</div>
