@import './assets/scss/variables.scss';
@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  background-color: $bg-color;
  color: $light-color;
  font-family: 'Muli','Helvetica','Arial',sans-serif;
}

.text-green {
  color: $green-color;
}

.btn-check:focus+.btn, .btn:focus, .form-control:focus {
  box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 14%);
}

.form-control:focus {
  border-color: $light-color;
}

.text-muted {
  color: $dark-color;
}

.badge-primary {
  background-color: $dark-color;
  color: $light-color;
  border-radius: 2rem;
  margin: 0.3rem;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  cursor: pointer;
  cursor: hand;
}

.modal {
  background: rgb(39 42 45 / 90%);
  .modal-content {
    background-color: $bg-color;
    color: $light-color;
  }

  .modal-header {
    border-bottom: 2px solid #202020;
  }
}

.btn-icon {
  text-decoration: none;
  padding: 0 1rem;
  .material-icons {
    margin-top: 0.5rem;
  }
  &, &:hover {
    color: $light-color;
  }
}
